<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/farm" method="POST" >
        <label for="name">Enter Farm Name</label> 
        <input type="text" name="name" id="name">
        <label for="area">Enter Farm  Location</label> 
        <input type="text" name="location" id="location">
        
       
        <button value="submit">Submit</button>
        
    </form>
</body>
</html>